<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-passagem-heading" jhiTranslate="viajatoApp.passagem.home.createOrEditLabel">Create or edit a Passagem</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!passagem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="passagem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.classe" for="field_classe">Classe</label>
                    <input type="text" class="form-control" name="classe" id="field_classe"
                        [(ngModel)]="passagem.classe" required/>
                    <div [hidden]="!(editForm.controls.classe?.dirty && editForm.controls.classe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.classe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="passagem.valor" required/>
                    <div [hidden]="!(editForm.controls.valor?.dirty && editForm.controls.valor?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.valor?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.valor?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="passagem.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.cpf" for="field_cpf">Cpf</label>
                    <input type="number" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="passagem.cpf" required/>
                    <div [hidden]="!(editForm.controls.cpf?.dirty && editForm.controls.cpf?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpf?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cpf?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.voo" for="field_voo">Voo</label>
                    <select class="form-control" id="field_voo" name="voo" [(ngModel)]="passagem.voo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vooOption.id === passagem.voo?.id ? passagem.voo : vooOption" *ngFor="let vooOption of voos; trackBy: trackVooById">{{vooOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.passagem.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="passagem.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === passagem.cliente?.id ? passagem.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
