<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quarto-heading" jhiTranslate="viajatoApp.quarto.home.createOrEditLabel">Create or edit a Quarto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quarto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quarto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.quarto.tipo" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                        [(ngModel)]="quarto.tipo" required/>
                    <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.quarto.capacidade" for="field_capacidade">Capacidade</label>
                    <input type="number" class="form-control" name="capacidade" id="field_capacidade"
                        [(ngModel)]="quarto.capacidade" required/>
                    <div [hidden]="!(editForm.controls.capacidade?.dirty && editForm.controls.capacidade?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.capacidade?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.capacidade?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.quarto.diaria" for="field_diaria">Diaria</label>
                    <input type="number" class="form-control" name="diaria" id="field_diaria"
                        [(ngModel)]="quarto.diaria" required/>
                    <div [hidden]="!(editForm.controls.diaria?.dirty && editForm.controls.diaria?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.diaria?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.diaria?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.quarto.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="quarto.descricao" required/>
                    <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.quarto.hotel" for="field_hotel">Hotel</label>
                    <select class="form-control" id="field_hotel" name="hotel" [(ngModel)]="quarto.hotel" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hotelOption.id === quarto.hotel?.id ? quarto.hotel : hotelOption" *ngFor="let hotelOption of hotels; trackBy: trackHotelById">{{hotelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
