<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quarto">
            <h2><span jhiTranslate="viajatoApp.quarto.detail.title">Quarto</span> {{quarto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.quarto.tipo">Tipo</span></dt>
                <dd>
                    <span>{{quarto.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.quarto.capacidade">Capacidade</span></dt>
                <dd>
                    <span>{{quarto.capacidade}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.quarto.diaria">Diaria</span></dt>
                <dd>
                    <span>{{quarto.diaria}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.quarto.descricao">Descricao</span></dt>
                <dd>
                    <span>{{quarto.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.quarto.hotel">Hotel</span></dt>
                <dd>
                    <div *ngIf="quarto.hotel">
                        <a [routerLink]="['/hotel', quarto.hotel?.id, 'view']">{{quarto.hotel?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quarto', quarto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
