<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="linhaAerea">
            <h2><span jhiTranslate="viajatoApp.linhaAerea.detail.title">Linha Aerea</span> {{linhaAerea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.linhaAerea.nome">Nome</span></dt>
                <dd>
                    <span>{{linhaAerea.nome}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.linhaAerea.codigo">Codigo</span></dt>
                <dd>
                    <span>{{linhaAerea.codigo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/linha-aerea', linhaAerea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
