<div>
    <h2 id="page-heading">
        <span jhiTranslate="viajatoApp.contrato.home.title">Contratoes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contrato" [routerLink]="['/contrato/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="viajatoApp.contrato.home.createLabel">
            Create new Contrato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contratoes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="viajatoApp.contrato.numero">Numero</span></th>
            <th><span jhiTranslate="viajatoApp.contrato.valor">Valor</span></th>
            <th><span jhiTranslate="viajatoApp.contrato.descricao">Descricao</span></th>
            <th><span jhiTranslate="viajatoApp.contrato.locadora">Locadora</span></th>
            <th><span jhiTranslate="viajatoApp.contrato.seguradora">Seguradora</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contrato of contratoes ;trackBy: trackId">
                <td><a [routerLink]="['/contrato', contrato.id, 'view' ]">{{contrato.id}}</a></td>
                <td>{{contrato.numero}}</td>
                <td>{{contrato.valor}}</td>
                <td>{{contrato.descricao}}</td>
                <td>
                    <div *ngIf="contrato.locadora">
                        <a [routerLink]="['../locadora', contrato.locadora?.id, 'view' ]" >{{contrato.locadora?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contrato.seguradora">
                        <a [routerLink]="['../seguradora', contrato.seguradora?.id, 'view' ]" >{{contrato.seguradora?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contrato', contrato.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contrato', contrato.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contrato/'+ contrato.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
